/* You're welcome to change any of this! */

@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Unbounded:wght@600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;

}

p,
a,
li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 1.1em;
    display: flex;

}



section {
    background-color: rgb(209, 111, 19);
    font-weight: bold;
    text-decoration: none;
    color: rgb(246, 246, 97);


}

body {
    background-color: rgb(224, 154, 84);
    column-width: 100%;
    height: fit-content;
    font-family: 'Titan One';
    margin: 0;





    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, auto);
    column-gap: 1px;
    row-gap: 1px;

}

h1 {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(246, 237, 227);
}

a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}


body header {
    font-family: 'Unbounded', cursive;
    margin: 0
}

header {
    background-image: url('Images/257.JPG');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

#homework {
    background-image: url('Images/466.JPG');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style-type: none;
    font-display: center;
}

#inspiration {
    background-image: url('Images/20140730_123457.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

#class-exercises {
    background-image: url('Images/20140730_123457.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

#test {
    background-image: url('Images/20140730_123457.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

#tutorials {
    background-image: url('Images/466.JPG');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 800px) {}