html {
    scroll-behavior: smooth;
}
h1, h2 {<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">}
body * {
    box-sizing: border-box;
}

body {
    font-family:'Titan One', cursive;
    margin: 0;
}

/* create additional rules below:  */